*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color:#fff6d8;
}

nav{
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding:18px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  width:100%;
  top:0%;
  left:0%;
  z-index:1000;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

nav ul li a{
  text-decoration: none;
  color:#333;
  font-weight:bold;
}

nav ul li a:hover{
  color:#ed8e3a;
}

div.logo{
  font-size:20px;
  font-weight: bold;
  color:#cb0000;
}

img{
  width:100%;
}

.container{
  background-color: white;
  border-radius:20px;
  width:1000px;
  padding:20px;
  display: flex;
  flex-direction: column;
}

.olives{
  font-size:30px;
}

.price{
  font-size:50px;
}